
@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/Layoutt.cshtml";
}

@Html.Action("BlogCover", "Blog")
<section class="site-section py-lg">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">
                @Html.Action("BlogReadAll", "Blog")

               

                @Html.Action("CommentList", "Comment")
            </div>
            <div class="col-md-12 col-lg-4 sidebar">
                @Html.Action("AuthorAbout", "Author")
                @Html.Action("AuthorPopularPost", "Author")
                @Html.Action("BlogDetailsCategoryList", "Category")
            </div>
        </div>
    </div>
</section>
<!--Burası diğer postların partial'i-->
@*@Html.Action("OtherPosts", "Blog")*@

<!--Burası MailSubsicript partial'i-->
@Html.Action("AddMail", "MailSubscribe")

<!--Burası Footer partial'i-->
@Html.Action("Footer", "About")