@using PagedList

@using PagedList.Mvc

@model IEnumerable<EntityLayer.Conrete.Blog>
@{string color=""; }
<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Son Çıkan Postlar</h2>
            </div>
        </div>
        <div class="row">
         @foreach (var item in Model)
         {
             if (item.Category.CategoryName=="Teknoloji")
             {
                 color = "post-category text-white bg-dark mb-3";
             }
             if (item.Category.CategoryName=="Sanat")
             {
                 color = "post-category text-white bg-success mb-3";
             }
             if (item.Category.CategoryName == "Tarih")
             {
                 color = "post-category text-white bg-info mb-3";
             }
             if (item.Category.CategoryName == "Spor")
             {
                 color = "post-category text-white bg-danger mb-3";
             }
             if (item.Category.CategoryName == "Seyahat")
             {
                 color = "post-category text-white bg-secondary mb-3";
             }
             if (item.Category.CategoryName=="Film & Dizi")
             {
                 color = "post-category text-white bg-success mb-3";
             }
           <div class="col-lg-4 mb-4">
            <div class="entry2">
              <a href="/Blog/BlogDetails/@item.BlogID"><img src="@item.BlogImage" style="height:250px" alt="Image" class="img-fluid rounded"></a>
              <div class="excerpt">
                  <a href="/Blog/BlogByCategory/@item.CategoryID"><span class="@color">@item.Category.CategoryName</span></a>
                 <h2><a href="/Blog/BlogDetails/@item.BlogID">@item.BlogTitle</a></h2>
               <div class="post-meta align-items-center text-left clearfix">
                  <figure class="author-figure mb-0 mr-3 float-left"><img src="@item.Author.AuthorImage" alt="Image" class="img-fluid"></figure>
                  <span class="d-inline-block mt-1"><a href="/Author/AuthorAbout/@item.AuthorID">@item.Author.AuthorName</a></span>
                  <span>&nbsp;-&nbsp; @(((DateTime)item.BlogDate).ToString("dd-MMM-yyyy"))</span>
                   Puan: @item.BlogRating
               </div>
                <p>@item.BlogContent.Substring(0,item.BlogContent.Substring(0,110).LastIndexOf(" "))...</p>
                <p><a href="/Blog/BlogDetails/@item.BlogID">Devamını Oku</a></p>
              </div>
            </div>
           </div>
          }
        </div>
    </div>
</div>

@Html.PagedListPager((IPagedList)Model,Page=>Url.Action("Index",new { Page }))